= form_for @instruction do |f|
  - if @instruction.errors.any?
    #error_explanation
      %h2= "#{pluralize(@instruction.errors.count, "error")} prohibited this instruction from being saved:"
      %ul
        - @instruction.errors.full_messages.each do |msg|
          %li= msg

  .form_group
    = f.label :text
    = f.text_area :text, class: 'form-control'
  .form_group
    = f.label :position
    = f.number_field :position, class: 'form-control'
  .form_group
    = f.label :image
    = f.file_field :image, class: 'form-control'
  .actions.form_group
    = f.submit 'Save', class: 'btn btn-default'
    = link_to 'Cancel', @project, class: 'btn btn-default'
