.jumbotron
  .container
    .buffer Project & activity ideas for parents & teachers from parents & teachers.
    = link_to raw('Explore &raquo;'), projects_path, class: 'btn btn-primary btn-lg'
    = link_to raw('Contribute &raquo;'), projects_path, class: 'btn btn-success btn-lg'


.container
  .project_lists.row
    .col-lg-4
      .header 
        %h5 Recent
      - @recent.each do |project| 
        = render partial: "projects/preview", locals: {project: project}
    .col-lg-4
      .header 
        %h5 Popular
      - @popular.each do |project| 
        = render partial: "projects/preview", locals: {project: project}
    .col-lg-4
      .header 
        %h5 Simple
      - @simple.each do |project| 
        = render partial: "projects/preview", locals: {project: project}        