= form_for @project do |f|
  - if @project.errors.any?
    #error_explanation
      %h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg

  .form_group
    = f.label :title
    = f.text_field :title, class: 'form-control', placeholder: 'Example: Create A Flip Book'
  .form_group
    = f.label :url, 'Website or Video Link'
    = f.text_field :url, class: 'form-control', placeholder: 'Example: http://www.youtube.com/watch?v=iExiCGV7jzI&hd=1'
  .form_group
    = f.label :description
    = f.text_area :description, class: 'form-control', placeholder: 'Example: Make an animated character dance with this simple animation technique.'
  .form_group
    = f.label :photo
    = f.file_field :photo, class: 'form-control'
  .actions.form_group
    = f.submit 'Save', class: 'btn btn-default'
    = link_to 'Cancel', (@project.new_record? ? projects_path : project_path(@project)), class: 'btn btn-default'
      