.jumbotron
  .container
    .buffer 
      %h2.title-font Explore Projects

.container
  .search-projects.col-md-9
    .search-boxes.col-md-12  
      .col-md-5
        .search-box
          %h4.title-font KEYWORDS
          .input-group
            %input.form-control{type: 'text', placeholder: 'e.g. science, outdoors, paint'}
            %span.input-group-btn
              %button.btn.btn-default{type: 'button'} Search
              
      .col-md-7
        .search-box.col-lg-4.col-md-6
          %h4.title-font AGE
          .btn-group
            %button.btn.btn-default{type: 'button'} All Ages
            %button.btn.btn-default.dropdown-toggle{type: 'button', data: {toggle: 'dropdown'}}
              %span.caret            
            %ul.dropdown-menu{role: 'menu'}
              - (1..15).each do |i|
                %li
                  %a= "#{pluralize(i, 'year')} old"
              %li
                %a 16+ years old
      
        .search-box.col-lg-4.col-md-6
          %h4.title-font 
            SORT
          .btn-group
            %button.btn.btn-default{type: 'button'} Popular
            %button.btn.btn-default.dropdown-toggle{type: 'button', data: {toggle: 'dropdown'}}
              %span.caret            
            %ul.dropdown-menu{role: 'menu'}
              %li
                %a Popular
              %li
                %a Recent
              %li
                %a Simple
              %li
                %a Cost
              

        .search-box.col-lg-4.visible-lg
          %h4.title-font SORT #2
          .btn-group
            %button.btn.btn-default{type: 'button'} Simple
            %button.btn.btn-default.dropdown-toggle{type: 'button', data: {toggle: 'dropdown'}}
              %span.caret            
            %ul.dropdown-menu{role: 'menu'}
              %li
                %a Popular
              %li
                %a Recent
              %li
                %a Simple
              %li
                %a Cost
    
    .col-md-12
      - @projects.each do |project|
        .project_listing
          .pull-left
            = link_to image_tag(project.photo(:square), class: 'img-rounded'), project
          .info
            %h4= link_to truncate(project.title, length: 36), project
            %br
            %p= truncate(project.description, length: 150)
    
    
  .col-md-3.hidden-sm.hidden-xs
    .skyscraper-ad
      &nbsp;
