.container

  %p#notice= notice

  .project.col-xs-12.col-sm-6.col-md-8.well.well-lg
    .details
      = image_tag @project.photo.url(:medium), class: 'pull-left'
      .info
        %h3= @project.title
        %p= @project.description
        %p
          = link_to "Visit Website", @project.url, class: 'btn btn-primary', target: '_blank'
      
      
      .admin_actions
        = link_to ' Edit', edit_project_path(@project), class: 'icon-pencil'
        &nbsp;|&nbsp;
        = link_to ' Delete', project_path(@project), method: 'delete', class: 'icon-trash'
      
