.container

  %p#notice= notice

  .project.col-xs-12.col-sm-6.col-md-8.well.well-lg
    = image_tag @project.photo.url, class: 'pull-left'
    .info
      %h2= @project.title
      %p= @project.description
      
      .actions
        = link_to "Visit Website", @project.url, class: 'btn btn-primary'
        = link_to 'Edit', edit_project_path(@project), class: 'btn btn-success'
      
