.container

  / %p#notice= notice

  .col-md-8
    .project.well.well-lg
      .details
        - unless @project.photo.blank?
          = image_tag @project.photo.url(:medium), class: 'pull-left'
        .info
          %h3= @project.title
          %p= auto_link(@project.description.gsub(/\r/, '<br/>'), html: {target: '_blank', rel: 'nofollow'})
          %p
            - if @project.url?
              = link_to raw('Visit Website &raquo;'), @project.url, class: 'btn btn-primary', target: '_blank'
      
      
        - if user_signed_in? && (current_user == @project.user || current_user.admin?)
          .admin_actions
            %a.icon-edit{href: (@project.instructions.blank? ? '#add-instructions' : '#instructions'), data: {toggle: 'modal'}} Instructions
            &nbsp;|&nbsp;
            = link_to ' Edit', edit_project_path(@project), class: 'icon-pencil'
            &nbsp;|&nbsp;
            = link_to ' Delete', @project, method: 'delete', class: 'icon-trash'
        .clearfix
        
  .col-md-4
    .square-ad
      <div id='div-gpt-ad-1383843654364-0' style='width:300px; height:250px;'>
      <script type='text/javascript'>
      googletag.cmd.push(function() { googletag.display('div-gpt-ad-1383843654364-0'); });
      </script>
      </div>
  
  .clearfix

  .project-extra
    .col-md-4
      .stats.panel.panel-default    
        .panel-heading
          %h3.panel-title Details
        .panel-body 
          %ul.pull-left
            - if @project.average_simple.present?
              %li
                = "#{@project.simple_description} (#{@project.average_simple})"
            - if @project.min_age.present? && @project.min_age > 0
              %li
                = pluralize(@project.min_age, '+ year old', '+ years old').gsub(/\s\+/, '+')
          %ul.pull-left
            - if @project.min_time.present? && @project.min_time > 0
              %li
                = distance_of_time_in_words(@project.min_time * 60)
            - if @project.min_cost.present? && @project.min_cost > 0
              %li
                = "Rough Cost: #{number_to_currency(@project.min_cost, precision: 0)}"
                

    
      .materials.panel.panel-default    
        .panel-heading
          %h3.panel-title Materials
        .panel-body
          - if @project.materials.blank?
            .text-centered
              %h4 No Materials Listed Yet
              %p 
                Please provide an experience report first.
         
      - if @project.experiences.length > 1
        %br
        %br
        %br
        .skyscraper-ad
          <div id='div-gpt-ad-1383843654364-1' style='width:300px; height:250px;'>
          <script type='text/javascript'>
          googletag.cmd.push(function() { googletag.display('div-gpt-ad-1383843654364-1'); });
          </script>
          </div>


    .experiences.col-md-8
      .panel.panel-default    
        .panel-heading
          %h3.panel-title Experience Reports
        .panel-body
          - @project.experiences.each do |experience|
            .experience.well{id: "experience#{experience.id}"}
              - if experience.user.photo.present?
                .thumbnail.pull-left.text-centered
                  = image_tag(experience.user.photo.url(:thumb))
                  .caption
                    %small
                      = experience.user.display_name
                      /%br
                      /%small MakerParent Since 
                      /%br
                      /%small= experience.user.created_at.strftime('%b, %Y')
              
              %p= experience.details
              
              .clearfix
              
              .details.col-md-6
                %h4.title-font.text-centered Details 
                %p
                  - if experience.recommended
                    I'd recommend this project.
                  - else
                    I would not recommend this project.
              
                - if experience.cost
                  %p 
                    It cost about  
                    = number_to_currency(experience.cost, precision: 0)

                - if experience.time
                  %p 
                    It took us 
                    = distance_of_time_in_words(experience.time * 60)

                - if experience.min_age.present? && experience.min_age > 0 
                  %p
                    Youngest child was
                    = pluralize(experience.min_age, 'year old', 'years old')

                - if experience.simple
                  %p= "This project was #{experience.simple_description.downcase} (#{experience.simple})"
              
              .photos.col-md-6{id: "experience_photos_#{experience.id}"}
                - if experience.experience_photos.present?
                  %h4.title-font.text-centered Photos 
                  - experience.experience_photos.each do |photo|
                    .thumbnail-container{class: "col-md-#{experience.experience_photos.length > 1 ? 6 : 12}", data: {toggle: 'modal', target: "#photo#{photo.id}"}}
                      = image_tag(photo.href_small, class: 'img-rounded img-responsive centered')
                    
                    .modal.fade{id: "photo#{photo.id}", tabindex: -1, role: 'dialog', arial: {labelledby: 'photoModal', hidden: 'true'}}
                      .modal-dialog
                        .modal-content
                          .modal-body
                            = image_tag(photo.href_large)
                            
                    
              - if user_signed_in? && current_user == experience.user
                .admin_actions
                  %a.icon-edit{href: '#add-experience_photos', data: {toggle: 'modal'}} Edit Photos
                  &nbsp;|&nbsp;
                  = link_to ' Edit', edit_project_path(@project), class: 'icon-pencil'
                  &nbsp;|&nbsp;
                  = link_to ' Delete', @project, method: 'delete', class: 'icon-trash'
              
        
          .add_experience.col-md-8.centered.well
            %h4 Have you tried this project?
            %p Share your experience. Positive or negative.
            %br
            - if user_signed_in?
              %a.icon-plus-sign.btn.btn-success.btn-lf{href: '#add-experience', data: {toggle: 'modal'}} &nbsp; Add Report
            - else
              = link_to 'Add Report', new_user_session_path, class: 'icon-plus-sign btn btn-success btn-lf'
        
  #add-instructions.modal.fade{tabindex: -1, role: 'dialog', aria: {labelledby: 'instructions', hidden: 'true'}}
    .modal-dialog
      .modal-content      
        .modal-header
          %h4 Would you like to add instructions?
        .modal-body
          %br
          %p
            You can add custom, step-by-step instructions with a photo for each step to help
            people figure out how to do this project successfully.
          %br
          %p
            Would you like to add instructions now? You can also do so later.
        .modal-footer
          = link_to 'Add Instructions', new_project_instruction_path(@project), class: 'btn btn-default', type: 'button'
          %button.btn.btn-default{type: 'button', data: {dismiss: 'modal'}} Close


  - if @current_experience
    #add-experience_photos.modal.fade{tabindex: -1, role: 'dialog', aria: {labelledby: 'experience_photos', hidden: 'true'}, data: {id: @current_experience.id}}
      .modal-dialog
        .modal-content      
          .modal-header
            %h4 Add Photos Of Your Experience
          .modal-body
            %br
            %p
              %h5 Would you like to add photos of your experience doing this project?
              %br
              = form_for @current_experience.experience_photos.new, data: {id: @current_experience.id} do |f|
                = cl_image_upload_tag(:item_id, upload_options.merge(html: {multiple: 'true'}))
            %br
            %p
              You can also do so later.
          .modal-footer
            %button.btn.btn-default{type: 'button', data: {dismiss: 'modal'}} Close

  - if user_signed_in?
    #add-experience.modal.fade{tabindex: -1, role: 'dialog', aria: {labelledby: 'experience', hidden: 'true'}}
      = render :partial => 'experiences/form'


    