%p#notice= notice

%p
  %b Title:
  = @project.title
%p
  %b Description:
  = @project.description
%p
  %b Photo:
  = @project.photo
%p
  %b Min time:
  = @project.min_time
%p
  %b Max time:
  = @project.max_time
%p
  %b Min age:
  = @project.min_age
%p
  %b Max age:
  = @project.max_age
%p
  %b Min cost:
  = @project.min_cost
%p
  %b Max cost:
  = @project.max_cost

= link_to 'Edit', edit_project_path(@project)
\|
= link_to 'Back', projects_path
