= form_for [@project, @experience] do |f|
  .modal-dialog
    .modal-content      
      .modal-header
        %h4 What was your experience with this project?
        %p Fill in as much or as little as you want.
        
      .modal-body
        - if @experience.errors.any?
          #error_explanation
            %h2= "#{pluralize(@experience.errors.count, "error")} prohibited this experience from being saved:"
            %ul
              - @experience.errors.full_messages.each do |msg|
                %li= msg


        .form-group
          = f.label :success, "Was the project a success?"
          = f.hidden_field :success
          &nbsp; 
          %a.btn.btn-default.btn-checkbox Yes
          &nbsp;
          %a.btn.btn-default.btn-checkbox No

        .form-group
          = f.label :recommended, "Would you recommend this project to others?"
          = f.hidden_field :recommended
          &nbsp; 
          %a.btn.btn-default.btn-checkbox Yes
          &nbsp;
          %a.btn.btn-default.btn-checkbox No

        .form-group
          = f.label :min_age, "How old was the youngest child working on the project?"
          &nbsp; 
          = f.number_field :min_age, style: 'width: 54px; display: inline-block;', class: 'form-control'
          
        .form-group
          = f.label :simple, 'How simple was the project?'
          = f.select :simple, (1..10).map { |i| ["#{i} - #{Project::LONG_ESTIMATED_SIMPLE_DESCRIPTIONS[i-1]}", i]}, {}, class: 'form-control'
          
        .form-group
          = f.label :cost, 'Roughly how much did it cost to do the project?'
          &nbsp; 
          = f.number_field :cost, style: 'width: 90px; display: inline-block;', class: 'form-control'

        .form-group
          = f.label :time, 'Roughly how much time did it take to do the project'
          = f.select :time, 
                     [['Less than an hour', 45],
                     ['A few hours', 180],
                     ['Half a day', 300],
                     ['A day', 600],
                     ['A weekend', 1500],
                     ['A week', 4500],
                     ['A few weeks', 1800],
                     ['A few months+', 5400]], 
                     {}, class: 'form-control'
        .form-group
          = f.label :details, 'What was your overall experience with this project?'
          = f.text_area :details, class: 'form-control'
                
      .clearfix
      .modal-footer
        = f.submit 'Save Experience Report', class: 'btn btn-default'
        %button.btn.btn-default{type: 'button', data: {dismiss: 'modal'}} Close

      
