.container-non-responsive
  %p#notice= notice

  %p
    %b Details:
    = @experience.details
  %p
    %b User:
    = @experience.user_id
  %p
    %b User:
    = @experience.project_id
  %p
    %b Time:
    = @experience.time
  %p
    %b Cost:
    = @experience.cost
  %p
    %b Min age:
    = @experience.min_age
  %p
    %b Successful:
    = @experience.successful
  %p
    %b Recommended:
    = @experience.recommended
  %p
    %b Simple:
    = @experience.simple

  = link_to 'Edit', edit_experience_path(@experience)
