!!!
%html
  %head
    %title= "#{"#{@title} - " if @title.present?}MakerParent"
    %meta{:name => "description", :content => "This year, instead of gifts, have your friends and family support your favorite charities by making a donation in your name on your birthday (or Christmas, Hanukkah, Mother's Day, etc.)! Even if your birthday is months away, you can give your favorite charities valuable exposure by setting up your birthday page today."}
    %link{:href => 'images/charity_birthday_square_brown.png', :rel => 'image_src'}

    %link{href: asset_path('favicon.ico'), rel: 'shortcut icon'}

    =# stylesheet_link_tag    '//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.css'
    =# stylesheet_link_tag     '//getbootstrap.com/dist/css/bootstrap.min.css'
    = stylesheet_link_tag     '//fonts.googleapis.com/css?family=Muli'

    = javascript_include_tag "application", "data-turbolinks-track" => true
    =# javascript_include_tag '//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js'

    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true

    = #%meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %meta{name: 'viewport', content: 'width=1190'}
    %meta{name: "description", content: "Project and activity ideas for parents and teachers from parents and teachers."}
    = csrf_meta_tags
    
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-15570848-13', 'makerparent.com');
    ga('send', 'pageview');
    </script>


  %body
    - unless @hide_navbar
      .navbar.navbar-fixed-top.title-font
        .container-non-responsive
          .navbar-header
            %button.navbar-toggle{type: "button", data: {toggle: 'collapse', target: '.navbar-collapse'}}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            = link_to 'MakerParent', root_path, class: 'navbar-brand title-font'
          .navbar-collapse.collapse
            %ul.nav.navbar-nav
              %li{class: ('active' if controller.is_a?(ProjectsController))}
                = link_to 'Explore', projects_path
              %li{class: ('active' if controller.is_a?(ProjectsController))}
                = link_to 'Contribute', new_project_path
              /%li{class: ('active' if controller.is_a?(ProjectsController))}
              /  = link_to 'Chat', projects_path
              /%li{class: ('active' if controller.is_a?(ProjectsController))}
              /  = link_to 'Store', projects_path
            %form.navbar-form.navbar-right
              - if user_signed_in?                
                = link_to 'My Account', account_path, class: 'account-link btn btn-success'
                = link_to 'Log Out', destroy_user_session_path, method: 'DELETE', class: 'btn btn-primary'
              - else
                = link_to 'Sign In', new_user_session_path, class: 'btn btn-success'
                = link_to 'Register', new_user_registration_path, class: 'btn btn-primary'

    %div{class: "#{controller.controller_name}-page"}
      = yield

    .footer
      - unless user_signed_in?
        .subscribe-mail.col-lg-5.col-md-6.col-sm-8.col-xs-10.centered.text-centered
          %h4.title-font Weekly Newsletter
          %p Subscribe to our weekly newsletter.
          %p It contains a few new project ideas each week.
          = form_for EmailSetting.new, remote: true do |f|
            .input-group.input-group-sm
              = f.text_field :email, class: 'form-control', placeholder: 'Your Email'
              %span.input-group-btn
                = f.submit 'Subscribe', class: 'btn btn-default'
          
        
      
      .container-non-responsive
        .pull-right
          = link_to raw('&copy; 2014 Irrational Design'), 'http://irrationaldesign.com', target: '_blank'
        = mail_to('support@makerparent.com', 'Contact')
        