!!!
%html
  %head
    %title MakerParent

    =# stylesheet_link_tag    '//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.css'
    =# stylesheet_link_tag     '//getbootstrap.com/dist/css/bootstrap.min.css'
    = stylesheet_link_tag     '//fonts.googleapis.com/css?family=Muli'

    = javascript_include_tag "application", "data-turbolinks-track" => true
    =# javascript_include_tag '//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js'

    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true

    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %meta{name: "description", content: "Project and activity ideas for parents and teachers from parents and teachers."}
    = csrf_meta_tags

  %body
    - unless @hide_navbar
      .navbar.navbar-fixed-top.title-font
        .container
          .navbar-header
            %button.navbar-toggle{type: "button", data: {toggle: 'collapse', target: '.navbar-collapse'}}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            = link_to 'MakerParent', root_path, class: 'navbar-brand title-font'
          .navbar-collapse.collapse
            %ul.nav.navbar-nav
              %li{class: ('active' if controller.is_a?(ProjectsController))}
                = link_to 'Explore', projects_path
              %li{class: ('active' if controller.is_a?(ProjectsController))}
                = link_to 'Contribute', new_project_path
              /%li{class: ('active' if controller.is_a?(ProjectsController))}
              /  = link_to 'Chat', projects_path
              /%li{class: ('active' if controller.is_a?(ProjectsController))}
              /  = link_to 'Store', projects_path
            %form.navbar-form.navbar-right
              - if user_signed_in?                
                =# link_to 'My Account', account_path, class: 'account-link btn btn-success'
                = link_to 'Log Out', destroy_user_session_path, method: 'DELETE', class: 'btn btn-primary'
              - else
                = link_to 'Sign In', new_user_session_path, class: 'btn btn-success'
                = link_to 'Register', new_user_registration_path, class: 'btn btn-primary'

    %div{class: controller.controller_name}
      = yield

    .footer
      .container
        .pull-right
          = link_to raw('&copy; 2014 Irrational Design'), 'http://irrationaldesign.com', target: '_blank'
        = link_to('Contact', '')
        &nbsp; &nbsp;
        = link_to('About', '')
        